body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.button {
    background-color: #c50000;
    border: rgb(255, 255, 255);
    color: #ffffff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  
  .button:hover {
    background-color: #a20101;
    }

  #fancyspace{
    margin-bottom: 50px;
}
  
  #fancyseparator {
    display: block;
    left: auto;
    right: auto;
    bottom: 0px;
    width: 60vw;
    height: 1.5px;
    content: "";
    background-color: #777; 
    z-index: 4;
  }

  h2{
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #777777;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }

  .checkbox {
    margin-bottom: 20px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    accent-color: #c50000;
  }

.container {
    margin-bottom: 1px;
}

.title-container {
    margin-bottom: 1px;
}

.fancycontent h1 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.fancycontent h1 span {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #777777;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.fancycontent h1 span:after,
.fancycontent h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #ffffff;
}

.fancytitle {
    position: relative; /* Ensure positioning context for absolute positioning */
}

.fancytitle h1 {
    font-size:40px;
    text-align:center; 
    line-height:1.5em; 
    padding-bottom:45px; 
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 2px; 
    color:#111;
  }
  
  .fancytitle h1:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; 
    margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #777; 
    z-index: 4;
  }
  .fancytitle h1:after {
    position:absolute;
    width:40px; 
    height:40px; 
    left:50%; 
    margin-left:-20px; 
    bottom:0px;
    content: '\2328'; 
    font-size:30px; 
    line-height:40px; 
    color:#c50000;
    font-weight:400; 
    z-index: 5;
    display:block;
    background-color:#ffffff;
  }

